@charset "UTF-8";

//  Color
//---------------------------------------------------------
$black: #000000;
$gray-400: #101010;
$gray-300: #f0f0f0;
$gray-200: #efefef;
$gray-100: #fafafa;
$white: #ffffff;
