@charset "UTF-8";

//  Font
//---------------------------------------------------------
// Main
$font-set-primary-en: Montserrat; // En
$font-set-primary-ja: 游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic"; // Ja

// Secondary
$font-set-secondary: Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
