@charset "UTF-8";

/* //////////  Button  ////////// */
.c-button {
  position: relative;
  display: inline-block;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  color: inherit;
  appearance: none;
  cursor: pointer;
}
