@charset "UTF-8";
@use "../../global" as *;

/* //////////  Drawer  ////////// */
.p-drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: $gray-400;
  will-change: opacity, visibility;
  transition: opacity 0.3s $easeOutSine, visibility 0.3s $easeOutSine;
  opacity: 0;
  visibility: hidden;

  @include mq(lg) {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
  }
}
